<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>students</title>
   <link rel="stylesheet"  href="{% static 'css/students.css' %}" />
</head>
<body>
    <div class="box">
      <div class="wrapper">
        <a href="/student_table" class="btn_students">
          <img
            src="https://avatars.mds.yandex.net/i?id=6e2c3ec98538b790882ce55e7faf528d6076c794-10638002-images-thumbs&n=13"
            alt=""
          />
          <h3>O'quvchilar Ro'yxati</h3>
        </a>
        <a href="/student_add" class="btn_students">
          <img
            src="https://avatars.mds.yandex.net/i?id=5efed6ab75d013b5d3e31d378bce48425e86e7ac-10036219-images-thumbs&n=13"
            alt=""
          />
          <h3>Oquvchi Qo'shish</h3>
        </a>
      </div>
    </div>
</body>
</html>